<nb-layout>

  <nb-layout-column>

        <div cdkDropListGroup  class="root-container">
          <div class="left">

            <app-tags-list></app-tags-list>

          </div>
          <div class="right">
            <div class="top-row">
              <app-photos-list></app-photos-list>
            </div>
            <div class="bottom-row">
              <ng-container *ngFor="let tag of tagsSrv.tagsList">
                <app-photos-by-tag *ngIf="isPhotosTagged(tag.name)"
                [color]="tag.color" [tagName]="tag.name">

                </app-photos-by-tag>
              </ng-container>

            </div>
          </div>

        </div>

  </nb-layout-column>

</nb-layout>
