.root-container {
  display: flex;
  gap: 10px;

  .right {
    display: flex;
    flex-direction: column;
    width: 80%;

    .top-row {
      height: 53vh;
    }

    .bottom-row {
      height: 40vh;
      display: flex;
      gap: 5px;
      width: 100%;
      overflow-x: auto;
      margin-top: 16px;
    }
  }

  .left {
    width: 20%;
  }
}

@media screen and (max-width: 1300px) {
  .root-container {
      flex-direction: column;
      .right, .left {
        width: 100%;
      }

      .right .top-row {
        height: 500px;
      }

  }
}


@media screen and (max-width: 700px) {
  .root-container {
    .right .bottom-row {
      flex-direction: column;
      height: unset;
  }
  }
}
