/* You can add global styles to this file, and also import other style files */
nb-card {
  box-shadow: 1px 1px 2px 0px gray !important;
}

button[nbButton] {
  box-shadow: unset !important;
}

mat-list {
  color: whitesmoke;
}

mat-icon {
  margin-left: auto;
  cursor: pointer;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
