nb-card {
  padding-bottom: 16px;
}

nb-card-body {
  max-height: 79vh;
}

nb-card-header {
  display: flex;
  flex-direction: column;
  gap: 8px;

  button {
    width: fit-content;
  }
}

mat-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  mat-list-item {
    max-width: 400px;
    cursor: move;

    &.selected {
      transform: scale(1.02);
      border: 1px solid springgreen;
    }
  }
}

mat-icon.edit-icon {
  margin-left: auto;
}
