img {
  width: 30px;
  height: 30px;
  object-fit: cover;

}

nb-card {
  width: 20vw;

  nb-card-header {
    color: whitesmoke;
  }

  nb-card-body {
    max-height: 320px;
  }
}

mat-icon, i {
  color: gray;
}

i {
  cursor: pointer;
}

.tags-icon-wrapper {
  margin-left: auto;
}

@media screen and (max-width: 1300px) {
  nb-card {
    width: 33vw;
  }
}

@media screen and (max-width: 700px) {
  nb-card {
    width: 100%;
  }
}


